.cover{
    background-size: cover;
	background-position: center center;
}
         
.grad {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .grad:hover {
    background-position: right center;
    transition: 0.5s ease-in-out;
    color: #fff;
    text-decoration: none;
  }

.header {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    color: white !important;
}

.links {
  background: -webkit-linear-gradient(#4776E6, #8E54E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 
 
 