.footer {
    background-color: #dfdfdf;
    padding: .5rem;
    text-align: center;
  }

.color {
  color: rgba(0, 0, 0, 0.55);
}
  
.shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
}