:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E6E6FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url('../public/wp7953009.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  font-weight: 500;
}

body {
  margin: 0;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
  button {
    background-color: #f9f9f9;
  }
}

.form-check-input:checked {
  background-color: #7a73e9 !important;
  border-color: #7a73e9 !important;
}

.placeholder {
  background: -webkit-linear-gradient(#4776E6, #8E54E9);
  border-radius: 5px;
  /* box-shadow: rgba(224, 3, 253, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
}

.nav-item {
  transition: background-color .3s ease-in-out, border-top .3s ease-in-out; /* Added transition on base class */
}

.nav-item:not(:first-child) {
  border-top: solid 1px #eee;
}

.nav-item {
  background-color: transparent; 
}

.nav-item:hover {
  background-color: #d6d9fe;
}

.card:hover{
  box-shadow: 0 0 4px #6f42c1, 0 0 4px #6f42c1;
}
